/* General body styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f6f8;
    color: #333;
    padding: 20px;
    margin: 0;
}

/* Header styling */
header {
    font-size: 1.2em;
    color: #2b2e4a;
    margin-bottom: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Controls section */
.controls {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.controls input[type="text"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 180px;
    font-size: 0.9em;
    color: #555;
    background-color: #f9f9f9;
    transition: border 0.3s ease;
}

.controls input[type="text"]:focus {
    border-color: #4a90e2;
    outline: none;
}

/* Table container styling */
.table-container {
    height: calc(100vh - 180px); /* Adjust to fit the header and controls, leaving space at the bottom */
    overflow-y: auto; /* Enable vertical scrolling if needed */
    margin: 10px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    background-color: #4a90e2;
    color: #fff;
    font-weight: 600;
    padding: 12px;
    position: relative;
    cursor: pointer;
}

thead th.sortable:hover {
    background-color: #357ab7;
}

/* Sort icon styling */
#sort-icon {
    font-size: 0.8em;
    margin-left: 5px;
}

/* Row styling */
tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #e6f2ff;
}

/* Table cells */
th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
}

/* Input styles for table cells */
input[type="text"] {
    width: 90%;
    padding: 8px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #4a90e2;
    outline: none;
}
